.main {
  display: flex;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--c1);
  justify-content: flex-start;
  flex-direction: column;
}
.mainH {
  display: flex;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--c1);
  justify-content: center;
  flex-direction: column;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.formCont{
  display: flex;
  flex-direction: column;
  background-color: #ffffffa2;
  border-radius: 1em;
  padding: 1em;
  min-width: 45%;
  justify-content: space-around;
  margin: 1em;
}
.formStyle{
  display: flex;
  flex-direction: column; 
  max-width: 400px;
  gap: 1em;
  min-width: 100%;
}
.formStyle input{
  padding: 0.5em;
  border-style: none;
  background: none;
  font-size: 1.3em;
}
.formStyle textarea{
  padding: 0.5em;
  background: none;
  border-style: none;
  min-height: 8em;
  font-size: 1em;
  font-family: var(--font-family);
}
.formStyle button{
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--c3);
  border-radius: 1em;
  border-style: none;
  background-color: var(--c4);
  filter: drop-shadow(0px 4px 0px var(--c2));
  cursor: pointer;
  transition:all .1s ease-in-out;
  font-family: var(--font-family);
}
.formStyle button:hover{
  background-color: var(--c2);
  color: var(--c1);
  filter: drop-shadow(0px 0px 0px var(--c2));
}
.postCard{
  display: flex;
  flex-direction: column;
  background-color: #ffffffa2;
  border-radius: 1em;
  padding: 1em;
  min-width: 45%;
  justify-content: space-around;
  margin: 1em;
  gap: 1em;
  border-left: solid 0.5em var(--c2);
}
.postCard {
    /* white-space: pre-wrap; */
    word-break: break-all;
    /* inline-size: 50%; */
    overflow-wrap: break-word;
    /* hyphens: manual; */
    inline-size: min-content;
}
.likesCont{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
}
.functions{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}
.functions p{
  color: var(--c2);
  font-size: 0.8rem;
}
.functions p:hover{
  color: var(--c4);
  text-decoration: underline;
}
.likes{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  gap: 0.5em;
}
.likes img{
 cursor: pointer;
}
.snugCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background: #ffffff7a;
  border-radius: 1em;
}
.hBtn button{
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--c3);
  border-radius: 1em;
  border-style: none;
  background-color: var(--c4);
  filter: drop-shadow(0px 4px 0px var(--c2));
  cursor: pointer;
  transition:all .1s ease-in-out;
  font-family: var(--font-family);
  min-width: 10em;
  margin: 1em;
}
.hBtn button:hover{
  background-color: var(--c2);
  color: var(--c1);
  filter: drop-shadow(0px 0px 0px var(--c2));
}
.snugInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em;
}
.snugInfo h1{
  color: var(--c3);
}
.snugInfo h4{
  margin: 0.5rem;
  color: var(--c2);
}